<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give The Inner You</title>
    <link rel="stylesheet" href="styles.css">
    

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
        </style>
    <script>
        function showEditForm(index) {
            document.getElementById('editForm' + index).style.display = 'block';
        }
    </script>
    
</head>
<body>
    <% if (locals.arr1) { %>
        <% for (let i = 0; i < arr1.length; i++) { %>
            <div class="post_div">
                <form action="/delete" method="post">
                    <h5 style="font-size: 2.5rem;"><%= arr1[i] %></h5>
                    <p><%= arr2[i] %></p>
                    <input type="hidden" name="index" value="<%= i %>">
                    <button type="submit">Delete</button>
                </form>
                <button onclick="showEditForm(<%= i %>)">Edit</button>
    
                    <!-- Edit form (initially hidden) -->
                <form id="editForm<%= i %>" action="/edit" method="post" style="display:none;">
                    <input type="hidden" name="index" value="<%= i %>">
                    <label for="title<%= i %>">New Title:</label><br>
                    <input type="text" name="title" id="title<%= i %>"><br>
                    <label for="content<%= i %>">New Content:</label>
                    <textarea type="text" name="content" rows="4" cols="50" id="content<%= i %>" value="<%= arr2[i] %>"></textarea>
                    <button type="submit">Save</button>
                </form>
            </div>
           
        <% } %>
    <% } %>
    <div class="submit_form">
        <form action="/submit" method="post">
            <h2 class="form_heading">Write your blog</h2><br>
            <label for="title">Enter the title</label>
            <input size="30" class="title_input" type="text" name="title"><br>
            <label for="content">Enter the content</label>
            <textarea  name="content" rows="4" cols="50">
                
                </textarea>
            <button type="submit">Add My Blog</button>
        </form>
    </div>

    
    
</body>
</html>
